<p>tabela works!</p>

<div class="container">
    <fieldset>
        <legend>Valores</legend>
        <table border="1">
            <tr>
                <td>Real R$:</td>
                <td>{{moeda.valorReal}}</td>
            </tr>
            <tr>
                <td>Dolar U$:</td>
                <td>{{moeda.valorDolar}}</td>
            </tr>
            <tr>
                <td>Euro EU</td>
                <td>{{moeda.valorEuro}}</td>
            </tr>
            <tr>
                <td>Peso Arg</td>
                <td>{{moeda.valorPeso}}</td>
            </tr>
        </table>
    </fieldset>        
</div>
